# Ignore models and datasets
dataset/
dataset-full/
Data/
metas/
dataset-crop/

# ignore celeba-spoof README
celeba-spoof-README

# Ignore weights and model
notebooks/weights
notebooks/models
notebooks/.ipynb_checkpoints
notebooks/checkpoints

# Editor-based Rest Client
.vscode/

# Executables
*.exe
*.out
*.app